/* 各个页面相同的样式表 */
.wrapper{
    width: 1240px;
    margin: 0 auto;
}
/* 快捷导航 */
.shortcut{
    height: 50px;
    background-color: #333;
}
.shortcut .wrapper{
    height: 50px;
}
.shortcut .wrapper ul{
    float: right;
}
.shortcut .wrapper li{
    float: left;
    line-height: 52px;
}
.shortcut .wrapper a{
    padding: 0 16px;
    border-right: 1px solid #666;
    font-size: 14px;
    color: #dcdcdc;
}
.shortcut .wrapper a span{
    display: inline-block;
    margin-right: 8px;
    width:11px ;
    height: 16px;
    background-image:url(/images/sprites.png) ;
    background-position: -160px -70px; 
    vertical-align:  middle;
}
/* 清除a边框线 */
.shortcut .wrapper li:last-child a{
    border: 0;
}

/* 头部 */
.header{
    margin: 30px auto;
    height: 70px;
    
}
.logo{
    float: left;
    width: 207px;
    height: 70px;
    
}
/* logo搜索优化 */
.logo h1{
    width: 207px;
    height: 70px;
}
.logo h1 a{
    display: block;
    width: 207px;
    height: 70px;
    background-image: url(/images/logo.png);
    background-size: contain;
    /* 字体归0，让h1里面的字看不见 */
    font-size: 0;
}
.nav{
    margin-left: 40px;
    float: left;
    height: 70px;
  
}
.nav li{
    float: left;
    margin-right: 48px;
    line-height: 70px;
    
}
.nav li a{
    padding-bottom: 7px; ;
}
.nav li a:hover{
    color: #27ba9b;
    border-bottom:1px solid #27ba9b;
}
.seach{
    position: relative;
    width: 172px;
    margin-left: 34px;
    margin-top: 24px;
    height: 30px;
    float: left;
    border-bottom: 2px solid #e7e7e7;
}
.seach input{
    width: 172px;
    height: 28px;
    padding-left: 30px;
    
}
.seach input::placeholder{
    font-size: 14px;
    color: #ccc;
}
.seach span{
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(/images/sprites.png);
    background-position: -79px -69px;
    /* display: inline-block; */
    position: absolute;
    left: 2px;
    top: 2px;
}
.car{
    position: relative;
    float: left;
    margin-left: 15px;
    margin-top: 28px;
    width: 23px;
    height: 23px;
    background-image: url(/images/sprites.png);
    background-position: -119px -69px;
}
.car span{
    /* 因为是绝对定位 盒子具备行内块元素 */
    position: absolute;
    right: -13px;
    top: -6px;
    width: 20px;
    height: 15px;
    background-color: #e26237;
    border-radius: 8px;

    font-size: 13px;
    color: #fff;
    line-height: 15px;
    text-align: center;
}


/* 版权区域 */
.footer{
    height: 342px;
    background-color: #333;
}
.footer .wrapper{
    width: 1393px;
}
.footer .top{
    height: 175px;
    border-bottom: 1px solid #434343;
}